* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 2px 0  0  12px;
  font-size: 14px;
  font-family:  Verdana,Arial,Sans-serif;
  color: #4a4a4a; }

.hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 43px;

  top: 14px;
  position: relative;
  margin: 0;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 100%;
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 370px; }

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }

#tags:hover{

}

#content input:focus{
  border: 1px solid #0880fd;
}



.formLabel{
  color:#a1a1a1;
}
.row{
  display: table-row;
}
.cell{
  display: table-cell;
}

#name, #lastname{
  width: 180px;
  margin-right: 10px;
  color: #505151;
  font-size: 16px;
}


input:focus { outline: none; }

#content{
  width: 370px;
  /*border: 1px solid black;*/
  margin-left:0px;
}

#content p{
  margin:20px 0px 10px 0px;
}

.rowLine {
  padding-top:6px;
}


.titleForm{
  font-size: 17.5px;
  width: 100%;
  text-align: center;
  margin:14px 0px 22px 0px !important;
  <!--letter-spacing: 5px; -->
}

.ui-widget-content {
    background: #fff !important;
    color: #333 !important;
    border-radius: 0px 0px 4px 4px !important;
    border-left: 1px solid #CCCCCC !important ;
    border-bottom: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    margin-top: -4px;

    z-index: -2 !important;
    display: block !important;
  }
