* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 2px 0  0  15px;
  font-size: 14px;
  font-family:  helvetica,Verdana,Arial,Sans-serif;
  color: #4a4a4a; }

.hide {
  display: none; }

pre {
  margin: 0 !important;
  display: inline-block; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  background: none; }

input, button {
  height: 44px;

  top: 14px;
  position: relative;
  margin: 0;
  padding: 6px 12px;
  border-radius: 4px;
  font-family: inherit;
  
  color: inherit; }
  input[disabled], button[disabled] {
    background-color: #eee; }

input, select {
  border: 1px solid #CCC;
  width: 370px; 
  font-size:16px;
}

::-webkit-input-placeholder {
  color: #BBB; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #BBB;
  opacity: 1; }

:-ms-input-placeholder {
  color: #BBB; }

button {
  color: #FFF;
  background-color: #428BCA;
  border: 1px solid #357EBD; }
  button:hover {
    background-color: #3276B1;
    border-color: #285E8E;
    cursor: pointer; }

#result {
  margin-bottom: 100px; }


#tags{
  z-index: 1 !important;
  font-size: 16px !important;

}

#content input:focus{
  border: 1px solid #0880fd;
}



.formLabel{
  color:#a1a1a1;
}
.row{
  display: table-row;
}
.cell{
  display: table-cell;
}

#name, #lastname{
  width: 180px;
  margin-right: 10px;
  color: #505151;
  font-size: 16px;
}


input:focus { outline: none; }

#content{
  width: 370px;
  /*border: 1px solid black;*/
  margin-left:0px;
}

#content p{
      margin: 23px 0px -2px 0px;
      font-size: 14px;
}

.rowLine {
  padding-top:13px;
}


.titleForm{
  font-size: 16px;
  width: 100%;
  text-align: center;
  margin:15px 0px 26px 0px !important;
  letter-spacing: 0px; 
}

.ui-widget{
  padding-top: 14px !important;
}
.ui-widget-content {
    background: #fff !important;
    color: #333 !important;
    border-radius: 0px 0px 4px 4px !important;
    border-left: 1px solid #CCCCCC !important ;
    border-bottom: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    margin-top: -4px;

    z-index: 0 !important;
    /*display: block !important;*/
  }

  .ui-menu .ui-menu-item:first-child {
        padding: 8px 1em 10px .4em !important;
  }
  .ui-menu .ui-menu-item:last-child {
        padding-bottom: 20px !important;
  }

  .ui-menu .ui-menu-item {
        font-size: 16px !important;
        padding: 10px 1em 10px .4em !important;
  }

  .intl-tel-input .selected-flag {
    height: 41px !important;
  }

  .intl-tel-input .flag-dropdown {
    height: 41px !important;
    margin-top: 15px !important;
  }

  .btn{
    height:41px;
    border-radius: 4px;
    background-color: #0880fd;
    color: #FFFFFF;
    padding:  15px;
    font-size: 14px;
    min-width: 192px;
  }